body {
  background: #e0f2fe;
  font-family: Arial;
}

.box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}
